* {
  box-sizing: border-box;
}

html,
body {
  background-color: #333;
  color: #fff;
  height: 100%;
}

form {
  text-align: center;
}

nav {
  display: flex;
}

nav,
ul,
li {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav,
ul,
li,
a {
  font-weight: bolder;
  text-decoration: none;
  gap: 2rem;
  color: #fff;
}
